extends layout

block content
  link(rel='stylesheet', href='stylesheets/main.css')
  div.row
    div.col-md-12
        h1.text-center Welcome to the iConiSoft Lotto :)
  div.row
      .col-md-12 
        br
        p.text-center 
          a(href='/lottery' style='width: 100%;font-size: 30px;') Click Here to START !!

  div.row
    .col-md-12.text-center
      br
      br
      img(src="images/welcome.gif", alt="")#waitImg.img-fluid
 

    script(src="javascripts/main.js") 
